.content {
  background-color: var(--light-blue);

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 2.5rem;
    color: white;

    width: calc(850px + 5rem);
    margin-bottom: 1rem;
  }
}

.homeContainer {
  display: flex;
}
