.userstable {
  width: 75%;

  thead {
    text-align: left;
  }

  tbody {
    tr {
      transition: 0.1s linear transform;
      &:hover {
        transform: translateX(1rem);
      }
    }
  }
}

.tableHeader {
  display: flex;

  padding: 1rem 0;

  button {
    margin-left: 2rem;
  }
}
